# fly.toml app configuration file generated for seeddrill-proxy on 2026-02-02T21:11:16Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'seeddrill-proxy'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 3847
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
